body {
  font-family: Calibri, sans-serif; /* Example: Arial with a sans-serif fallback */
  margin: 0;

  @media (min-width: 768px) {
    margin-left: 12%;
    margin-right: 12%;
  }
}


code {
  font-size: 1em;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}

pre {
        background-color: #f4f4f4;
        padding: 1rem;
        border-radius: 4px;
        overflow-x: auto;
        margin: 0.2rem 0;
        /* These ensure the background fills the container */
        width: 100%;
	box-sizing: border-box;
}

pre code {
        font-family: "Courier New", Courier, monospace;
        font-size: 1em;
        line-height: 1.5;
        /* Make code block fill the pre element */
        display: block;
        width: 100%;
}
